@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: Poppins;
}

.rabalder{
    background-image: url('images/musikinstrumenterbutik_rabalder.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.plottervideo {
    width: 50vw;
    height: 55vh;
    position: sticky;
    overflow: hidden;
}

.plottervideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.øen{
    background-image: url('images/øen.jpg');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.albumcover{
    background-image: url('images/albumcover.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.wine{
    background-image: url('images/wine.jpg');
    background-size: 90%;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.mystuffandthings{
    background-image: url('images/mystuffandthings.png');
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
    background-size: 50%;
}


