@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: Poppins;
}

.rabalder{
    background-image: url('images/musikinstrumenterbutik_rabalder.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}


.dance{
    background-image: url('images/plakat.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.ocean{
    background-image: url('images/plastikmissionen.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.mitgronland{
    background-image: url('images/grønland.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.plottervideo {
    width: 50vw;
    height: 55vh;
    position: sticky;
    overflow: hidden;
}

.plottervideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blomst {
    width: 100vw;
    height: 55vh;
    position: sticky;
    overflow: hidden;
}

.blomst video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plakat{
    background-image: url('images/plakat.png');
    background-size: 50%;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.albumcover{
    background-image: url('images/albumcover.png');
    background-size: contain;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}

.drawing1{
    background-image: url('images/drawing1.JPG');
    background-size: 75%;
    width: 50vw;
    height: 55vh;
    position: sticky;
    background-attachment: fixed;
}


